In [1]:
print("""Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night.

Then the trav'ller in the dark,
Thanks you for your tiny spark,
He could not see which way to go,
If you did not twinkle so.

In the dark blue sky you keep,
And often thro' my curtains peep,
For you never shut your eye,
Till the sun is in the sky.

'Tis your bright and tiny spark,
Lights the trav'ller in the dark:
Tho' I know not what you are,
Twinkle, twinkle, little star.""")   # we can print multiple line at a time using triple quotes in beetween parenthesis().

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night.

Then the trav'ller in the dark,
Thanks you for your tiny spark,
He could not see which way to go,
If you did not twinkle so.

In the dark blue sky you keep,
And often thro' my curtains peep,
For you never shut your eye,
Till the sun is in the sky.

'Tis your bright and tiny spark,
Lights the trav'ller in the dark:
Tho' I know not what you are,
Twinkle, twinkle, little star.

In [28]:
print("I am learning python")  # we can print single line by using double quotes in bettween parenthesis()

I am learning python

In [2]:
a=6<2  # comparision operator
print(a)

False

In [26]:
a=5  # assign operator where 5 is assign to a .
b=4
print(a+b)  # arrithmatic operator

9

In [27]:
c=5>4  # comparision operator
print(c)

True

In [9]:
b=6
b+=6
print(b)

12

In [10]:
b*=6
print(b)

72

In [11]:
b/=8
print(b)

9.0

In [18]:
s=12>9 # comparision operator
print(s)

True

In [14]:
s=4<1 # comparision operator

print(s)

False

In [15]:
d=5<=5
print(d)

True

In [17]:
d=5!=5  # not equal to operator, comparision operator
print(d)

False

In [19]:
s= 4==4 # comparision operator
print(s)

True

In [20]:
s=True and False  # logical operator for "and"
print(s)

False

In [21]:
s=True and True # for and if both input are True only then it gives "True"
print(s)

True

In [22]:
B= True or False  # logical operator for "Or"
print(s)

True

In [23]:
b=False or False   # for "or" if both input are False  only then it gives False, otherwise alaways gives True
print(b)

False

In [24]:
B= print(not(True))  # logical operator for "not"

False

In [25]:
B= print(not(False))  # not true means false , not false means true.

True

In [29]:
s=6   # data type > this is 'int' or integer
type(s)
print(type(s))

<class 'int'>

In [30]:
a=5.4  # # data type > this is 'float' or float value
type(a)
print(type(a))

<class 'float'>

In [31]:
s = "samim"   # data type > this is 'string' or string value
type(s)
print(type(s))

<class 'str'>

In [32]:
s = "5.6"  # string data type
type(s)

str

In [35]:
b=float(s)  # convert into float
print(b)

5.6

In [36]:
d = int(b) # then convert into integer .This is type casting where as we can type cast one data type to another data type.

print(d)

5

In [37]:
a = int(input("enter a number 1 : ")) # By default output of input function is string thats why we do type cast first to this operation
b = int(input("enter a number 2 : "))

print("number a is" , a )
print("number b is " , b)
print("sum is " , a+b )

enter a number 1 :  12
enter a number 2 :  6

number a is 12
number b is  6
sum is  18

In [49]:
name = input(" please enter your name : ") # using input fuction python can take input from user.
age = input(" please enter your age : ")
print( " I am " , name )
print( " i am " , age , "years old")

 please enter your name :  samim kamal
 please enter your age :  26

 I am  samim kamal
 i am  26 years old

In [50]:
a = input(" please enter your course name : ")
b = input ( " please enter your duration : ")
print(" i am doing " , a )
print(" and it will go on upto" , b ,"months" )

 please enter your course name :  Data Analytics
 please enter your duration :  6

 i am doing  Data Analytics
 and it will go on upto 6 months